* {
    margin: 0;
    padding: 0;
}

/* 헤더부분 시작 */
header {
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    
}
.drop{
    display: flex;
    width: 800px;
    height: 100px;
}
.drop .dropbtn{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100px;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}
.dropdown-content {
    display: none;
   /*안보이게*/
}


.dropbtn:hover .dropdown-content {
    display: block;
    /*보이게*/
    background-color:white;
    height: 500px;
    position: relative;
    top: 18px;
    padding: 10px;
}
nav ul {
    display: flex;
}

a {
    text-decoration: none;
    color: gray;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    padding: 5px;
    
}
.mo:hover{
    background-color: white;
    color: #01a1dd;
}

nav a:hover {
    color: #01a1dd;
    background-color: white;
    border: 0;
}

li {
    list-style: none;
    font-weight: bold;
}

.logo {
    margin-left: 30px;
}

.logo img {
    width: 60px;
}
h2{
    position: relative;
    top: 470px;
    left: 59px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

/* 메인부분 시작 */
main {
    background-image: url(../images/라떼.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
.ment{
    position:relative;
    top: 480px;
    left: 50px;
    color: aliceblue;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    position: relative;
    top: 490px;
    left: 55px;
    background-color: #01a1dd;
    cursor: pointer;
    padding: 15px 35px;
    color: whitesmoke;
    border: 0;
    font-weight: 400px;
    font-size: 15px;
}
footer{
    position: relative;
    color: gray;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 14px; /*폰트 어썸 아이콘 같이 조절*/
    left: 30px;
    top: 35px;
}